@import url('https://fonts.cdnfonts.com/css/minion-pro');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minion Pro', sans-serif;
    font-size: 1.2rem;
}


    .contenedor-seccion {
        margin-left: auto;
        margin-right: auto;
    }



  
  /* Offset de anchors */
  [id] {
    scroll-margin-top: 56px;
  }
  

footer, nav{
    background-color: #22312D;
    color: #afb2b6;
}
footer p, footer i{
  font-size: 18px;
  vertical-align:top;
}




.formulario{
  max-width: 450px;
}

#encabezado, #trailer, #logros, #productoras,#contacto, #alwaysCollapsedNav{
    background: url(imagenes/fondo.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}



#sinopsis, #equipo, #casas, #monarca, #insumisa, #pajaro , #pelicula{
    background-color: #75A89B;
    color: aliceblue;
}

#intencion, #directora, #premios,  #entrevistatv1,#entrevistaradio1{
    background-color: #22312D;
    color: aliceblue;
}
#premios ul li {
  
    font-style: oblique;
}

#premios i{
    font-size: 60px;
    color: #75A89B;

}

#premios li i{
  font-size:0.8em;
  color: aliceblue;
}

#audiobar{
    
    color: #75A89B !important;
    background-color: #75A89B !important;
}

audio.controls{
  color: #22312D;
}

/* Botón base */
 .btn {
    color: aliceblue;
    padding: 5px 0;
    text-align: left;
  
  }
  .btn:hover {
    color: aquamarine;
  }

  /* Añade la flecha antes del texto del botón */
#lista .btn::before {
    content: "› ";       /* flecha y espacio */
    color:aliceblue;      /* color de la flecha */
    font-size: 0.9em;    /* ajustar si hace falta */
  }
  
  /* Cuando el panel está abierto, invertir la flecha (opcional) */
  #lista .btn[aria-expanded="true"]::before {
    content: "› ";
  }
  
  /* Panel colapsable */
  #lista .collapse {
    background-color: rgba(34, 49, 45, 0.2);
    padding: 10px;
  
  }
  
  /* Hover */
  #lista .btn:hover {
    color: aquamarine;
  }
  
  /* Cuando el collapse está abierto */
  #lista .btn[aria-expanded="true"] {
    color:#22312D;    /* el color que quieras para el título activo */
    font-weight: bold; /* opcional, para destacarlo */
  }
  

  

.card-body{
    background-color: #75A89B;
    color: aliceblue;
  
}

.card-body p{
  font-size:0.8em;
}



#monarca a i, #insumisa a i, #pajaro a i{
  font-size: 0.9em;
}



